.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width:  1300px;
    margin: 0 auto;
    gap: 5px;
}
my-header {
    grid-column-start: 1;
    grid-column-end: 4;

}
my-nav {
    grid-column-start: 1;
    grid-column-end: 3;
 
}
my-section {
    grid-column-start: 3;
    grid-column-end: 4;
 
  
}
my-selector {
    grid-column-start: 1;
    grid-column-end: 4; 
}
my-footer {
    grid-column-start: 1;
    grid-column-end: 4;
   
}
